* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#main{
    width: 800px;
    margin: auto;
    background: radial-gradient(circle, rgba(141, 151, 200, 1) 0%, rgba(139, 148, 197, 1) 16%, rgba(252, 70, 107, 1) 42%, rgba(63, 65, 87, 1) 83%);
    margin-top: 50px;
}

#todo-list {
    /* border: 1px solid black; */
    text-align: center;
    color: white;
}

#input-ele {
    margin-top: 50px;
    margin-bottom: 10px;
}

#lbl {
    font-size: 1.5rem;
}

#txt {
    outline: none;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    padding: 10px;
    border: none;
    font-size: 17px;
}

#txt:focus {
    transition: all 1s ease;
    border: 3px solid rgba(252, 70, 107, 1);
    border-radius: 10px;
}

#btn{
    padding: 5px 20px;
    border: none;
    background:transparent;
    margin-left: 10px;
    border-radius: 5px;
    color: white;
    transition: all 2s ease-in;
}

#btn:hover{
    transition: all 2s ease-in; 
    color: white;
    background:linear-gradient(186deg, rgba(70,223,254,1) 34%, rgba(2,0,36,1) 44%, rgba(9,9,121,1) 96%);
    transform: scale(1.2);
}

#task_list{
    border: 1px solid white;
    margin-bottom: 10px;
    color: white;
    font-size: 1.1rem;
    text-align: center;
}

.task{
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}

.task input[type="text"] {
    display: none;
}
.task input[type="submit"] {
    margin-left: 10px;
    padding: 3px 10px;
}

